*{
    margin: 0%;
    box-sizing: border-box;
    cursor: pointer;
    font-family: sans-serif;
 
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    
}
.center{
    position: absolute;
    left: 35%;
   margin: auto;
   text-align: center;
   align-items: center;
   
    
}
.picture{
    border: 2px solid #8888;
    box-shadow: 0.8px 0.2px #888888;
    height: 700px;
    width: 400px;
    padding-top: 9%;
    
}
img{
    height: 165px;
}
.frame{
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
}
.frame1:hover{
    border-bottom: 3px solid rgb(235, 38, 176);
    font-weight: bolder;
    width: 90px;
}



.frame2:hover{
    border-bottom: 3px solid rgb(235, 38, 176) ;
    font-weight: bolder;
    width: 70px;


}
form{
    padding: top 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
form>input{
    padding-left: 20px;
    margin: 7px;
    width: 270px;
    height: 40px;
    border-color: 1px solid rgba(0, 0, 0, 0.093);
    border-radius: 30px;
}

form>button{
    font-weight: bolder;
    color: #ffffff;
    margin: 18px;
    width: 270px;
    height: 40px;
    border-color:rgb(207, 68, 166)  ;
    border-radius: 30px ;
    background-color:rgb(235, 38, 176) ;
}

.pasword{
    color:rgb(235, 38, 176);
    font-size:12px;
    padding-left: 170px;
}

.login1{
     margin-top: 10px;
     color: rgba(68, 49, 68, 0.5);
     font-weight: lighter;
     font-size: 12px;
     
}

.logo{
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.google{
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.133);
}
.facebook{
    width: 33px;
    height: 28px;
    /* margin-top: 5px; */
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.133);
}
.twitter{
    width: 33px;
    height: 30px;
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 0.133);
}

.footer{
    font-size: 10px;
    display:flex;
    gap:5px;
    justify-content:center;
    padding-top:10px;

}
.footer1{
    font-size:10px;
    display: flex;
    gap:5px;
    justify-content: center;
    padding-top:25px;
}
span{
    color:rgb(235, 38, 176);
   
}
.footer1>p>span{
    text-decoration: underline;
}

